<!DOCTYPE html>
<html>
<head>
	<title>Hà Nội 36 phố phường</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css"> <!-- Css cho trình duyệt cũ -->
	<link rel="stylesheet" type="text/css" href="css/horizontal.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/style-responsive.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/sly.min.js"></script>
	<script type="text/javascript" src="js/horizontal.js"></script>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<nav class="navbar" data-spy="affix" data-offset-top="180" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wrapper-mainmenu">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo img-responsive" title="trang chủ"></a>
					</div>
					<div id="wrapper-mainmenu" class="collapse navbar-collapse">
						<ul class="nav navbar-nav main-menu">
							<li><a href="index.html">Trang chủ</a></li>
							<li><a href="about.html">Giới thiệu</a></li>
							<li>
								<a href="#">Thông tin</a>
								<ul class="sub-menu">
									<li><a href="fasttrackse.html">FasttrackSE</a></li>
									<li><a href="profile.html">Thông tin người làm dự án</a></li>
								</ul>
							</li>
							<li>
								<a href="du-lich.html">Du lịch</a>
								<ul class="sub-menu">
									<li><a href="dia-diem-an-uong.html">Địa điểm ăn uống</a></li>
								</ul>
							</li>
							<li>
								<a href="su-kien.html">Sự kiện</a>
								<ul class="sub-menu">
									<li><a href="calendar.html">Calendar</a></li>
								</ul>
							</li>
							<li><a href="thu-vien-anh.html">Thư viện ảnh</a></li>
						</ul>
						<div id="top-search">
							<a href="javascript:void(0);" class="search-click"><i class="fa fa-search" aria-hidden="true"></i></a>
							<div class="show-search">
								<form role="search" id="searchform" method="get" action="">
									<input type="text" class="search-input" name="q" id="request" placeholder="Nhập từ khóa tìm kiếm rồi nhấn Enter">
								</form>
								<a href="javascript:void(0);" class="close-search"><i class="fa fa-times" aria-hidden="true"></i></a>
							</div>
						</div>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
		</header>
		<section id="slide-main">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="images/banner/bn1.jpg" alt="slide1" class="img-responsive"></div>
					<div class="swiper-slide"><img src="images/banner/bn2.jpg" alt="slide1" class="img-responsive"></div>
					<div class="swiper-slide"><img src="images/banner/bn3.jpg" alt="slide1" class="img-responsive"></div>
					<div class="swiper-slide"><img src="images/banner/bn7.jpg" alt="slide1" class="img-responsive"></div>
					<div class="swiper-slide"><img src="images/banner/bn8.jpg" alt="slide1" class="img-responsive"></div>
					<div class="swiper-slide"><img src="images/banner/bn4.jpg" alt="slide1" class="img-responsive"></div>
					<div class="swiper-slide"><img src="images/banner/bn5.jpg" alt="slide1" class="img-responsive"></div>
					<div class="swiper-slide"><img src="images/banner/bn6.jpg" alt="slide1" class="img-responsive"></div>
					<div class="swiper-slide"><img src="images/banner/bn9.jpg" alt="slide1" class="img-responsive"></div>
				</div>
				<div class="swiper-button-next arrow-right"><span class="arrow arrow-left"><img src="images/arrow-left.png"></span></div>
				<div class="swiper-button-prev arrow-left"><span class="arrow arrow-right"><img src="images/arrow-right.png"></span></div>
			</div>
		</section>
		<section class="body">
			<section id="box-intro" class="padding">
				<div class="container">
					<h1><span class="red">Hà Nội</span> 36 phố phường</h1>
					<div class="row">
						<article class="col-md-8">
							<p>Hà Nội là thủ đô, đồng thời cũng là một trung tâm chính trị, văn hóa và du lịch quan trọng của Việt Nam. Hà Nội là thủ đô lâu đời và đã kỷ niệm 1000 năm Thăng Long Hà Nội vào tháng 10 năm 2010.<p/><p>Hà Nội nằm ở hai bên bờ của con sông Hồng, châu thổ sông Hồng thuộc vùng đồng bằng Bắc Bộ, phía Bắc giáp Thái Nguyên và Vĩnh Phúc; phía Nam giáp Hà Nam và Hòa Bình; phía Đông giáp các tỉnh Bắc Giang, Bắc Ninh và Hưng Yên; phía Tây giáp tỉnh Hòa Bình và Phú Thọ.<p/><p>Hà Nội có quá trình lịch sử lâu dài, nhiều công trình văn hóa kiến trúc, di tích lịch sử nổi tiếng. Hà Nội là một trong những điểm đến thu hút du khách trong và ngoài nước nhất ở Việt Nam bởi dáng vẻ cổ kính, trầm mặc, thanh lịch và vẻ đẹp tiềm ẩn ở thành phố ngàn năm văn hiến này…</p>
						</article>
						<div class="col-md-4">
							<img src="images/ganhhanghoa.jpg" class="img-responsive">
						</div>
					</div>
				</div>
			</section>

			<section id="box-gallery" class="padding">
				<div class="container">
					<h1>Thư viện ảnh <span class="red">Hà Nội</span><br/>
						<small class="intro">Album HOT, khoảnh khắc đẹp về Hà Nội</small>
					</h1>
					<div class="row">
						<div class="col-md-6 item item-big">
							<a href="thu-vien-anh-ho-hoan-kiem.html" title="Hồ Hoàn Kiếm">
								<figure>
									<img src="images/hoguom.jpg" alt="Hồ Hoàn Kiếm" class="thumb-album">
									<figcaption class="caption">Hồ Hoàn Kiếm</figcaption>
								</figure>
								<div class="caption-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
							</a>
						</div>
						<div class="col-md-3 item">
							<a href="thu-vien-anh-am-thuc-ha-noi.html" title="Ẩm thực Hà Nội">
								<figure>
									<img src="images/amthuchanoi.jpg" alt="Ẩm thực Hà Nội" class="thumb-album">
									<figcaption class="caption">Ẩm thực Hà Nội</figcaption>
								</figure>
								<div class="caption-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
							</a>
						</div>
						<div class="col-md-3 item">
							<a href="thu-vien-anh-ha-noi-36-pho-phuong.html" title="Hà Nội 36 phố phường">
								<figure>
									<img src="images/hanoi36phophuong.jpg" alt="Hà Nội 36 phố phường" class="thumb-album">
									<figcaption class="caption">Hà Nội 36 phố phường</figcaption>
								</figure>
								<div class="caption-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
							</a>
						</div>
						<div class="col-md-3 item">
							<a href="thu-vien-anh-tet-ha-noi.html" title="Tết Hà Nội">
								<figure>
									<img src="images/ongdo.jpg" alt="Tết Hà Nội" class="thumb-album">
									<figcaption class="caption">Tết Hà Nội</figcaption>
								</figure>
								<div class="caption-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
							</a>
						</div>
						<div class="col-md-3 item">
							<a href="thu-vien-anh-ao-dai.html" title="Áo dài">
								<figure>
									<img src="images/aodai.jpg" alt="Áo dài" class="thumb-album">
									<figcaption class="caption">Áo dài</figcaption>
								</figure>
								<div class="caption-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
							</a>
						</div>
						<div class="col-md-6 item item-big">
							<a href="thu-vien-anh-khoanh-khac-ha-noi.html" title="Khoảnh khắc Hà Nội">
								<figure>
									<img src="images/ganhhanghoa.jpg" alt="Khoảnh khắc Hà Nội" class="thumb-album">
									<figcaption class="caption">Khoảnh khắc Hà Nội</figcaption>
								</figure>
								<div class="caption-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<section id="box-travel" class="padding">
				<div class="container">
					<h1><span class="inline">Khám phá <span class="red">Hà Nội</span><span></h1>
					<div class="content">
						<div class="row">
							<div class="col-md-3">
								<div class="inline">
									<a href="ho-guom.html" title="Hồ Gươm" class="box-thumb"><img src="images/ho-guom.jpg" class="img-responsive"></a>
									<div class="title"><a href="ho-guom.html" title="Hồ Gươm">Hồ Gươm</a></div>
									<p class="p-intro">Hồ Hoàn Kiếm (Hà Nội), gắn liền với truyền thuyết Rùa Thần đòi gươm. Một lần nhà vua dạo chơi bằng thuyền trên hồ bắt gặp một sinh vật là Rùa lớn nổi lên bơi về phía Ngài, bấy giờ Vua liền rút gươm ra để xua Rùa đi nơi khác, nhưng Rùa bất ngờ ngậm lấy thanh gươm rồi lặn mất xuống lòng hồ. Từ đó hồ được đặt tên là Hồ Hoàn Kiếm”.</p>
									<div class="box-author">
										<div class="avatar"><img src="images/avatar1.jpg"></div>
										<span class="name">Trần Hiệp</span>
										<span class="time">5 phút trước</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="inline">
									<a href="van-mieu-quoc-tu-giam.html" title="Văn Miếu Quốc Tử Giám" class="box-thumb"><img src="images/van-mieu.jpg" class="img-responsive"></a>
									<div class="title"><a href="van-mieu-quoc-tu-giam.html" title="Văn Miếu Quốc Tử Giám">Văn Miếu Quốc Tử Giám</a></div>
									<p class="p-intro">Được mệnh danh là ngôi trường đại học đầu tiên của Việt Nam, Văn Miếu - Quốc Tử Giám không chỉ là di tích lịch sử nổi tiếng ở đất thủ đô mà còn là nơi chứa đựng những tinh hoa của những giai đoạn lịch sử phong kiến trước kia và lưu giữ những giá trị truyền thống của đất Việt. Văn Miếu - Quốc Tử Giám chính là hạt bụi vàng tô điểm lấp lánh cho mảnh đất kinh kỳ Hà Nội trong hôm nay và cả mai sau.</p>
									<div class="box-author">
										<div class="avatar"><img src="images/avatar1.jpg"></div>
										<span class="name">Trần Hiệp</span>
										<span class="time">5 phút trước</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="inline">
									<a href="lang-bac.html" title="Lăng Bác" class="box-thumb"><img src="images/lang-bac.jpg" class="img-responsive"></a>
									<div class="title"><a href="lang-bac.html" title="Lăng Bác">Lăng Bác</a></div>
									<p class="p-intro">Ngày 2/9/1969, Chủ tịch Hồ Chí Minh, vị lãnh tụ kiệt xuất, Anh hùng giải phóng dân tộc, người chiến sĩ cộng sản quốc tế lỗi lạc, Danh nhân văn hoá của nhân loại đã đi vào cõi vĩnh hằng, để lại niềm tiếc thương vô hạn cho toàn thể nhân dân Việt Nam và bầu bạn quốc tế. Thể theo nguyện vọng thiết tha của toàn Đảng, toàn dân và toàn quân, Bộ Chính trị Trung ương Đảng đã quyết định: “Với tấm lòng kính yêu vô hạn và đời đời nhớ ơn Hồ Chủ tịch, chúng ta phải thực hiện đến mức tốt nhất nhiệm vụ giữ gìn lâu dài thi hài Hồ Chủ tịch và xây dựng Lăng mộ của Người”.</p>
									<div class="box-author">
										<div class="avatar"><img src="images/avatar1.jpg"></div>
										<span class="name">Trần Hiệp</span>
										<span class="time">5 phút trước</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="inline">
									<a href="lang-co-duong-lam.html" title="Làng cổ Đường Lâm" class="box-thumb"><img src="images/duong-lam.jpg" class="img-responsive"></a>
									<div class="title"><a href="lang-co-duong-lam.html" title="Làng cổ Đường Lâm">Làng cổ Đường Lâm</a></div>
									<p class="p-intro">Nằm cách Hà Nội hơn 50km, Làng Cổ Đường Lâm thuộc địa phận thị xã Sơn Tây, Hà Nội là một địa điểm du lịch nổi tiếng của Hà Nội. Đây là ngôi làng cổ đầu tiên ở Việt Nam được Nhà nước trao bằng Di tích Lịch sử Văn hóa Quốc gia năm 2006. Với những nét đặc trưng về kiến trúc, nghệ thuật của một làng Việt cổ vùng đồng bằng châu thổ sông Hồng, có thể nói làng cổ Đường Lâm chỉ đứng sau phố cổ Hội An và phố cổ Hà Nội về quy mô cũng như giá trị nghệ thuật khiến cho nơi đây trở thành một điểm nhấn du lịch của Hà Nội.</p>
									<div class="box-author">
										<div class="avatar"><img src="images/avatar1.jpg"></div>
										<span class="name">Trần Hiệp</span>
										<span class="time">5 phút trước</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="box-even" class="padding">
				<div class="container">
					<h1><span class="inline">Sự kiện <span class="red">Hà Nội</span><span></h1>
					<div class="content">
						<div class="row">
							<div class="col-md-4 item">
								<div class="inline">
									<a href="duyet-binh-quoc-khanh-2-9.html">
										<img src="images/2-9.jpg" class="thumb">
										<div class="name">Duyệt binh Quốc Khánh 2-9</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 item">
								<div class="inline">
									<a href="tet-thieu-nhi-ha-noi.html">
										<img src="images/den-ong-sao.jpg" class="thumb">
										<div class="name">Tết thiếu nhi Hà Nội</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 item">
								<div class="inline">
									<a href="ho-guom-ngay-cuoi-tuan.html">
										<img src="images/hoguomcuoituan.jpg" class="thumb">
										<div class="name">Hồ Gươm ngày cuối tuần</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 item">
								<div class="inline">
									<a href="le-hoi-am-thuc-quoc-te.html">
										<img src="images/food-fest-2.jpg" class="thumb">
										<div class="name">Lễ hội ẩm thực quốc tế</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 item">
								<div class="inline">
									<a href="gala-gap-nhau-cuoi-nam.html">
										<img src="images/gapnhaucuoinam.jpg" class="thumb">
										<div class="name">Gala gặp nhau cuối năm</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 item">
								<div class="inline">
									<a href="heineken-countdown-party.html">
										<img src="images/4.jpg" class="thumb">
										<div class="name">Heineken Countdown Party</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="box-food" class="padding">
				<div class="pagespan container">
					<h1>Món ăn nổi bật <span class="red">Hà Nội</span></h1>
					<div class="wrap">
						<div class="frame" id="centered" style="overflow: hidden;">
							<ul class="slidee">
								<li><a href=""><img src="images/banhduc.jpg" class="img-responsive"><div class="title">Bánh Đúc</div></a></li>
								<li><a href=""><img src="images/phocuon.jpg" class="img-responsive"><div class="title">Phở Cuốn Ngũ Xá</div></a></li>
								<li><a href=""><img src="images/phohanoi.jpg" class="img-responsive"></a><div class="title">Phở</div></li>
								<li><a href=""><img src="images/food-comvong.jpg" class="img-responsive"></a><div class="title">Cốm làng Vòng</div></li>
								<li><a href=""><img src="images/thitcho.jpg" class="img-responsive"></a><div class="title">Thịt chó</div></li>
								<li><a href=""><img src="images/buncha.jpg" class="img-responsive"><div class="title">Bún chả Hà Nội</div></a></li>
								<li><a href=""><img src="images/chacalavong.jpg" class="img-responsive"></a><div class="title">Chả cá Lã Vọng</div></li>
								<li><a href=""><img src="images/bunthang.jpg" class="img-responsive"></a><div class="title">Bún Thang</div></li>
								<li><a href=""><img src="images/banhcuon.jpg" class="img-responsive"></a><div class="title">Bánh Cuốn</div></li>
								<li><a href=""><img src="images/bunoc.jpg" class="img-responsive"></a><div class="title">Bún Ốc</div></li>
							</ul>
						</div>
						<div class="controls center">
							<button id="btn-pre" class="btn prev disabled" disabled=""><i class="fa fa-angle-left" aria-hidden="true"></i></button>
							<button id="btn-next" class="btn next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</section>

			<section id="box-social" class="padding">
				<div class="container">
					<h1><span class="inline">Ẩm thực <span class="red">Hà Nội</span><span></h1>
					<div class="content">
						<div class="row">
							<div class="col-md-3">
								<div class="inline">
									<a href="pho-ha-noi.html" title="Phở Hà Nội" class="box-thumb"><img src="images/pho-ha-noi.jpg" class="img-responsive"></a>
									<div class="title"><a href="pho-ha-noi.html" title="Phở Hà Nội">Phở Hà Nội</a></div>
									<p class="p-intro">Tô phở nóng hổi, húp xì xụp nước dùng thơm ngon, đậm đà mang lại cho người ăn nhiều cảm xúc khi đến Hà Nội. Bánh phở mỏng, dai, mềm, thịt bò được cắt thái lát mỏng, nấu tái chín thêm chút hành hoa, chanh ớt.Bát phở ngon còn tùy thuộc cách nấu gia truyền của từng hiệu phở. Du khách có thể ghé thăm những quán phở trứ danh Hà Nội như phở Sướng ở Đinh Liệt, phở Lý Quốc Sư cuối phố Nhà Chung, phở Bát Đàn </p>
									<div class="box-author">
										<div class="avatar"><img src="images/avatar1.jpg"></div>
										<span class="name">Trần Hiệp</span>
										<span class="time">5 phút trước</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="inline">
									<a href="pho-cuon-ngu-xa.html" title="Phở cuốn Ngũ Xá" class="box-thumb"><img src="images/pho-cuon-ngu-xa.jpg" class="img-responsive"></a>
									<div class="title"><a href="pho-cuon-ngu-xa.html" title="Phở cuốn Ngũ Xá">Phở cuốn Ngũ Xá</a></div>
									<p class="p-intro">Nhắc đến phở cuốn, người Hà Nội nghĩ đến ngay Ngũ Xã, con phố nhỏ nằm khuất sau hồ Trúc Bạch. Bánh phở mỏng nhưng không nát cuốn với thịt bò xào, rau sống. Nước chấm chua cay mặn ngọt, thêm vài lát đu đủ ăn ngon miệng. Một đĩa có mười bánh cuốn giá khoảng 50.000 đồng</p>
									<div class="box-author">
										<div class="avatar"><img src="images/avatar1.jpg"></div>
										<span class="name">Trần Hiệp</span>
										<span class="time">5 phút trước</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="inline">
									<a href="banh-duc.html" title="Bánh Đúc" class="box-thumb"><img src="images/banh-duc.jpg" class="img-responsive"></a>
									<div class="title"><a href="banh-duc.html" title="Bánh Đúc">Bánh Đúc</a></div>
									<p class="p-intro">Trên phố Lê Ngọc Hân có quán bán bánh đúc gia truyền 30 năm. Quán nằm trong ngõ hẹp nhưng rất đông khách tìm đến ăn. Món bánh đúc ăn nóng hổi có thịt băm, mộc nhĩ, hành được phi thơm thêm vài miếng đậu rán giòn, dai và rau thơm đi kèm. Bán bánh đúc có giá 15.000 đồng</p>
									<div class="box-author">
										<div class="avatar"><img src="images/avatar1.jpg"></div>
										<span class="name">Trần Hiệp</span>
										<span class="time">5 phút trước</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="inline">
									<a href="com-lang-vong.html" title="Cốm làng Vòng" class="box-thumb"><img src="images/com-lang-vong.jpg" class="img-responsive"></a>
									<div class="title"><a href="com-lang-vong.html" title="Cốm làng Vòng">Cốm làng Vòng</a></div>
									<p class="p-intro">Đây là món quà quê gợi nhớ về tuổi thơ, mang nét đẹp của ẩm thực Hà Nội. Những hạt cốm xanh non, dẹt, dẻo thơm ngào ngạt được gói cẩn thận trong lá sen có thể chế biến thành chè cốm, chả cốm, xôi cốm... Cốm ngon nhất phải kể đến cốm Mễ Trì, cốm làng Vòng.</p>
									<div class="box-author">
										<div class="avatar"><img src="images/avatar1.jpg"></div>
										<span class="name">Trần Hiệp</span>
										<span class="time">5 phút trước</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="box-feedback" class="padding">
				<div class="container">
					<h1>Cảm nhận về <span class="red">Hà Nội</span></h1>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="item">
									<img src="images/tamtit.jpg" class="img-responsive thumb-avatar" alt="Tâm Tít">
									<div class="content">
										<p><i class="fa fa-quote-left" aria-hidden="true"></i>Tôi đi dọc bờ hồ và cảm nhận sự bình yên đến tĩnh lặng của mặt nước xanh ngắt một màu xanh huyền thoại thật đẹp và nên thơ. Tôi dạo một vòng bờ hồ và cảm nhận được vẻ đẹp nên thơ ...</p>
										<p class="txt-author"><span class="author">Tâm Tít</span> - Giáo viên bộ môn Ngữ Văn</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item">
									<img src="images/tamtit2.jpg" class="img-responsive thumb-avatar" alt="Tâm Tít">
									<div class="content">
										<p><i class="fa fa-quote-left" aria-hidden="true"></i>Vẻ đẹp, sự cổ kính và cả lịch sử lâu đời khiến tôi càng tò mò bước vào. Ngày tôi đến cũng là ngày các bạn sinh viên tốt nghiệp đại học đến nơi đây để chụp hình lưu lại những hình ảnh đẹp trong một thời gian dài ngồi ghế nhà trường...</p>
										<p class="txt-author"><span class="author">Tâm Tít</span> - Giáo viên bộ môn Ngữ Văn</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item">
									<img src="images/tamtit.jpg" class="img-responsive thumb-avatar" alt="Tâm Tít">
									<div class="content">
										<p><i class="fa fa-quote-left" aria-hidden="true"></i> Người Hà Nội từ lâu nổi tiếng là thanh lịch và mến khách. Đặc biệt những cô gái Hà Nội với vẻ đẹp điển hình của người con gái xứ Bắc, làn da trắng, mái tóc đen dài, nụ cười ngời sáng, tiếng nói ngọt êm  nghe chuẩn đến từng âm sắc...</p>
										<p class="txt-author"><span class="author">Tâm Tít</span> - Giáo viên bộ môn Ngữ Văn</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item">
									<img src="images/tamtit2.jpg" class="img-responsive thumb-avatar" alt="Tâm Tít">
									<div class="content">
										<p><i class="fa fa-quote-left" aria-hidden="true"></i>Ở Hà Nội tôi thích nhất được dạo phố và ngắm nhìn những kiến trúc vừa hiện đại xen lẫn những nét hoài cổ tạo nên một Hà Nội trong tôi đủ màu sắc. Tôi thích dạo trên những làng nghề như Làng Gốm Bát Tràng  , Làng lụa Vạn Phúc tận mắt chứng kiến họ làm ra những sản phẩm mới thấy sự tỉ mỉ...</p>
										<p class="txt-author"><span class="author">Tâm Tít</span> - Giáo viên bộ môn Ngữ Văn</p>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</section>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<a href="https://www.facebook.com/fasttrack.edu.vn/" target="_blank" style="display: block;">
							<img src="images/fanpage-fb.jpg" class="img-responsive">
						</a>
					</div>
					<div class="col-md-4 right">
						<div class="title"><span>THÔNG TIN LIÊN HỆ</span></div>
						<div class="content">
							<ul>
								<li><i class="fa fa-phone" aria-hidden="true"></i>096 954 9903</li>
								<li><i class="fa fa-share" aria-hidden="true"></i></i>tranviethiepdz@gmail.com</li>
							</ul>
							<address><i class="fa fa-map-marker" aria-hidden="true"></i>Số 6, Ngách 30/28, Tăng Thiết Giáp - Từ Liêm - Hà Nội</address>
							<address><i class="fa fa-map-marker" aria-hidden="true"></i>Lầu 7, tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa, P.7, Q.3, Tp.Hồ Chí Minh</address>
						</div>
					</div>
					<div class="col-md-4 left">
						<div class="title"><span>ĐĂNG KÝ NHẬN TIN</span></div>
						<div class="registerEmail">
							<form class="form-inline frm-mail">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" id="exampleInputAmount" placeholder="Email của bạn">
										<div class="input-group-addon">
											<input type="submit" class="btn btn-success" value="Gửi mail">
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="box-social">
							<ul class="social-icons">
								<li><a class="rss" data-original-title="rss" href="javascript:void(0);"></a></li>
								<li><a class="facebook" data-original-title="facebook" href="javascript:void(0);"></a></li>
								<li><a class="twitter" data-original-title="twitter" href="javascript:void(0);"></a></li>
								<li><a class="googleplus" data-original-title="googleplus" href="javascript:void(0);"></a></li>
								<li><a class="linkedin" data-original-title="linkedin" href="javascript:void(0);"></a></li>
								<li><a class="youtube" data-original-title="youtube" href="javascript:void(0);"></a></li>
								<li><a class="vimeo" data-original-title="vimeo" href="javascript:void(0);"></a></li>
								<li><a class="skype" data-original-title="skype" href="javascript:void(0);"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="bottom">
					© Copyright 2017. Made by Mountain Crab 
				</div>
			</div>
		</footer>
		<div id="back-top" style="display: block;">
			<a href="#" class="top" style="display: block;"><i class="fa fa-arrow-up fa-lg"></i></a>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			var index = $("#centered .slidee .active").index();
			Z_Index(index);
		})
		

		$("#btn-pre").click(function(){
			var index = $("#centered .slidee .active").index();
			Z_Index(index);
		})
		$("#btn-next").click(function(){
			var index = $("#centered .slidee .active").index();
			Z_Index(index+1);
		})
		// Function get number element in object
		function Z_Index(idx) {
			var i;
			var length = $("#centered .slidee li").length;
			for(i=1;i<=length;i++){
				if(i<=idx){
					$("#centered .slidee li:nth-child("+i+")").css({"z-index":i});
				} else {
					$("#centered .slidee li:nth-child("+i+")").css({"z-index":length-i});
				}
			}
		}

		$('.search-click').click(function(){
			$('.show-search').css("display","block");
			$('#request').focus();
		})
		$('.close-search').click(function(){
			$('.show-search').css("display","none");
		})

		$(function () {
			$(window).scroll(function () {
				if ($(this).scrollTop() > 400) {
					$('#back-top').fadeIn();
				} else {
					$('#back-top').fadeOut();
				}
			});
			$('#back-top a').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});
		});

		var swiper = new Swiper('#slide-main .swiper-container', {
			pagination: '#slide-main .swiper-pagination',
			nextButton: '#slide-main .swiper-button-next',
			prevButton: '#slide-main .swiper-button-prev',
			paginationClickable: true,
			spaceBetween: 0,
			centeredSlides: true,
			// autoplay: 2500,
			loop:true,
			autoplayDisableOnInteraction: false
		});

		var swiper = new Swiper('#box-feedback .swiper-container', {
			pagination: '#box-feedback .swiper-pagination',
			paginationClickable: true,
			slidesPerView: 2,
			spaceBetween: 50,
			autoplay: 4000,
			breakpoints: {
				1024: {
					slidesPerView: 2,
					spaceBetween: 40
				},
				768: {
					slidesPerView: 1,
					spaceBetween: 30
				},
				640: {
					slidesPerView: 1,
					spaceBetween: 20
				},
				320: {
					slidesPerView: 1,
					spaceBetween: 10
				}
			}
		});
	</script>
</body>
</html>
